<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhn.teamsharebackend.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.zhn.teamsharebackend.domain.Article">
            <id property="articleId" column="article_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="outline" column="outline" jdbcType="VARCHAR"/>
            <result property="readingVolume" column="reading_volume" jdbcType="INTEGER"/>
            <result property="likes" column="likes" jdbcType="VARCHAR"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_id,title,content,article_status,
        reading_volume,likes,author_id,
        create_time,update_time,is_delete
    </sql>
</mapper>
