<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhn.teamsharebackend.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.zhn.teamsharebackend.domain.Tag">
            <id property="tagId" column="tag_id" jdbcType="BIGINT"/>
            <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
            <result property="parentTagId" column="parent_tag_id" jdbcType="BIGINT"/>
            <result property="isParent" column="is_parent" jdbcType="TINYINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        tag_id,tag_name,parent_tag_id,
        is_parent,is_delete,create_time,
        update_time
    </sql>
</mapper>
